<div class="container">
  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <p class="lead">Lend your product</p>

      {{!-- section to add products --}}
      <form class="create-update-form" action="products/create" method="POST">
        <div class="form-group">
          <label for="product_name" class="cols-sm-2 control-label">Product name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-star fa-lg" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="product_Name" id="product-input"  placeholder="Enter the name of the product">
            </div>
          </div>
        </div>

         <div class="form-group">
          <label for="short_description" class="cols-sm-2 control-label">Describe your product</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-star fa-lg" aria-hidden="true"></i></span>
              <textarea class="form-control" id="condition-input" rows="3" placeholder="Electric bagless filtered vacuum cleaner."></textarea>
              <!-- <input type="text" class="form-control" name="Condition" id="condition-input"  placeholder="Enter the condition of the product"> -->
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
         <label for="short_description" class="cols-sm-2 control-label">Photo</label>
         <div class="cols-sm-10">
           <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-star fa-lg" aria-hidden="true"></i></span>
             <input type="text" class="form-control" name="Condition" id="shortDescription"  placeholder="http://photo.jpeg">
           </div>
         </div>
       </div> -->

        <div class="form-group">
          <label for="pricing" class="cols-sm-2 control-label">Daily rate ($)</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-dollar fa-lg" aria-hidden="true"></i></span>
              <input type="number" class="form-control" name="price" id="pay-input"  placeholder="Enter the Lending Price">
            </div>
          </div>
        </div>
        <button onclick="alert('Thanks for lending your item(s) with us!')" id="submitLendBtn" class="btn btn-primary" type="submit">Post product</button>

      </form>
    </div>
  </div>

</div>
